<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
  </configSections>
  <connectionStrings>
    <add name="CFashionManagerConnectionString" connectionString="Data Source=.;Initial Catalog=CMS0;Persist Security Info=True;User ID=it_hcc;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="HoldingsConnectionString" connectionString="Data Source=.;Initial Catalog=Holdings;Persist Security Info=True;User ID=it_hcc;Password=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="2" value="cfashion"/>
    <add key="1" value="cnice"/>
    <add key="CMSServicesConnectionString" value="Data Source=103.7.43.146;Initial Catalog=CMS;Persist Security Info=True;User ID=it_hcc;Password=123"/>
  </appSettings>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="home" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <add name="Login" virtualUrl="^~/login" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Login.aspx" ignoreCase="true"/>
      <add name="Logout" virtualUrl="^~/logout" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Logout.aspx" ignoreCase="true"/>
      <add name="Account" virtualUrl="^~/account" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Account.aspx" ignoreCase="true"/>
      <add name="GroupUser" virtualUrl="^~/groupuser" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/GroupUser.aspx" ignoreCase="true"/>
      <add name="ChangePass" virtualUrl="^~/changepass" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ChangePass.aspx" ignoreCase="true" />
      <add name="Logout" virtualUrl="^~/logout" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Logout.aspx" ignoreCase="true"/>
      <add name="Dept" virtualUrl="^~/dept" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Dept.aspx" ignoreCase="true"/>
      <add name="Form" virtualUrl="^~/form" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Form.aspx" ignoreCase="true"/>
      <add name="AppForm" virtualUrl="^~/appform" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AppForm.aspx" ignoreCase="true"/>
      <add name="AppInputStock" virtualUrl="^~/appinput" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AppInputStock.aspx" ignoreCase="true"/>
      <add name="Approve" virtualUrl="^~/approve" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Approve.aspx" ignoreCase="true"/>
      <add name="OfferInput" virtualUrl="^~/offerinput" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/OfferInput.aspx" ignoreCase="true"/>
      <add name="OfferOutput" virtualUrl="^~/offeroutput" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/OfferOutput.aspx" ignoreCase="true"/>
      <add name="Material" virtualUrl="^~/material" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Material.aspx" ignoreCase="true"/>
      <add name="Norm" virtualUrl="^~/norm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Norm.aspx" ignoreCase="true"/>
      <add name="ExpiryDate" virtualUrl="^~/expiry" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ExpiryDate.aspx" ignoreCase="true"/>
      <add name="Demo" virtualUrl="^~/demo" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Demo.aspx" ignoreCase="true"/>
      <add name="Home" virtualUrl="^~/home" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Home.aspx" ignoreCase="true"/>
      <add name="OutputStock" virtualUrl="^~/outputstock" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/OutputStock.aspx" ignoreCase="true"/>
      <add name="InputStock" virtualUrl="^~/inputstock" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/InputStock.aspx" ignoreCase="true"/>
      <add name="Product" virtualUrl="^~/product" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Product.aspx" ignoreCase="true"/>
      <add name="TypeProduct" virtualUrl="^~/typeproduct" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ProductType.aspx" ignoreCase="true"/>
      <add name="Price" virtualUrl="^~/price" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Price.aspx" ignoreCase="true"/>
      <add name="Combo" virtualUrl="^~/combo" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Combo.aspx" ignoreCase="true"/>
      <add name="Inventory" virtualUrl="^~/inventory" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Inventory.aspx" ignoreCase="true"/>
      <add name="Supplier" virtualUrl="^~/supplier" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Supplier.aspx" ignoreCase="true"/>
      <add name="Member" virtualUrl="^~/member" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Member.aspx" ignoreCase="true"/>
      <add name="LastDay" virtualUrl="^~/lastday" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/LastDay.aspx" ignoreCase="true"/>
      <add name="LastInputDay" virtualUrl="^~/lastinput" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/LastInputDay.aspx" ignoreCase="true"/>
      <add name="LastInventory" virtualUrl="^~/lastinventory" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/LastInventory.aspx" ignoreCase="true"/>
      <add name="LastRevenue" virtualUrl="^~/lastrevenue" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/LastRevenue.aspx" ignoreCase="true"/>
      <add name="History" virtualUrl="^~/history" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/History.aspx" ignoreCase="true"/>
      <add name="Account" virtualUrl="^~/user" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Account.aspx" ignoreCase="true"/>
      <add name="Branch" virtualUrl="^~/branch" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Branch.aspx" ignoreCase="true"/>
      <add name="BranchType" virtualUrl="^~/typebranch" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/BranchType.aspx" ignoreCase="true"/>
      <add name="Role" virtualUrl="^~/role" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Role.aspx" ignoreCase="true"/>
      <add name="BranchRole" virtualUrl="^~/storerole" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/BranchRole.aspx" ignoreCase="true"/>
      <add name="Sale" virtualUrl="^~/sale" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Sale.aspx" ignoreCase="true"/>
      <add name="Brand" virtualUrl="^~/brand" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Brand.aspx" ignoreCase="true"/>
      <add name="Color" virtualUrl="^~/color" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Color.aspx" ignoreCase="true"/>
      <add name="Size" virtualUrl="^~/size" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Size.aspx" ignoreCase="true"/>
      <add name="Order" virtualUrl="^~/order" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Order.aspx" ignoreCase="true"/>
      <add name="Discount" virtualUrl="^~/voucher" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Discount.aspx" ignoreCase="true"/>
      <add name="News" virtualUrl="^~/news" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/News.aspx" ignoreCase="true"/>
      <add name="NewsDetail" virtualUrl="^~/detail-news/(.*)/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/News.aspx?Id=$1" ignoreCase="true"/>
      <add name="Menu" virtualUrl="^~/menu" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Menu.aspx" ignoreCase="true"/>
      <add name="SendReport" virtualUrl="^~/email" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/SendReport.aspx" ignoreCase="true"/>
      <add name="Image" virtualUrl="^~/image" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Image.aspx" ignoreCase="true"/>
      <add name="Inbox" virtualUrl="^~/inbox" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Inbox.aspx" ignoreCase="true"/>
      <add name="Gallery" virtualUrl="^~/gallery" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Gallery.aspx" ignoreCase="true"/>
      <add name="Info" virtualUrl="^~/info" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Info.aspx" ignoreCase="true"/>
      <add name="Unit" virtualUrl="^~/unit" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Unit.aspx" ignoreCase="true"/>
      <add name="Capacity" virtualUrl="^~/capacity" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Capacity.aspx" ignoreCase="true"/>
      <add name="Internal" virtualUrl="^~/internal" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/LastInternal.aspx" ignoreCase="true"/>
      <add name="Function" virtualUrl="^~/function" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Function.aspx" ignoreCase="true"/>
      <add name="Personal" virtualUrl="^~/personal" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Personal.aspx" ignoreCase="true"/>
      <add name="ReportRevenue" virtualUrl="^~/revenue" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ReportRevenue.aspx" ignoreCase="true"/>
      <add name="DetailGallery" virtualUrl="^~/gl-detail/(.*)/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Gallery.aspx?Id=$1" ignoreCase="true"/>
      <add name="HCCCategory" virtualUrl="^~/category" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/hld_category.aspx" ignoreCase="true"/>
      <add name="HCCSetting" virtualUrl="^~/setting" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/hld_setting.aspx" ignoreCase="true"/>
      <add name="PrintInputStock" virtualUrl="^~/printinputstock/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/PrintInputStock.aspx?Id=$1" ignoreCase="true"/>
      <add name="PrintOutputStock" virtualUrl="^~/printoutputstock/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/PrintOutputStock.aspx?Id=$1" ignoreCase="true"/>
      <add name="Feedback" virtualUrl="^~/feedback" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Feedback.aspx" ignoreCase="true"/>
    </rewrites>
  </urlrewritingnet>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" responseHeaderEncoding="utf-8"/>
    <sessionState timeout="30" mode="InProc"/>
    <httpRuntime maxRequestLength="2000000" executionTimeout="999999"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </modules>
    <staticContent/>
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>