<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
	</configSections>
	<connectionStrings>
  <add name="CFashionManagerConnectionString" connectionString="Data Source=.;Initial Catalog=CMS0;Persist Security Info=True;User ID=it_hcc;Password=123"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
  <appSettings>
    <add key="branchTypeId" value="2"/>
  </appSettings>
	<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="index.html" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
		<rewrites>
			<add name="Home" virtualUrl="^~/home" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx" ignoreCase="true"/>
			<add name="Showroom" virtualUrl="^~/showroom" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Showroom.aspx" ignoreCase="true"/>
			<add name="Branch" virtualUrl="^~/branch/(.*)/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Showroom.aspx?Id=$1" ignoreCase="true"/>
			<add name="Home" virtualUrl="^~/home" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx" ignoreCase="true"/>
			<add name="Sale" virtualUrl="^~/sale" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Sale.aspx" ignoreCase="true"/>
			<add name="Search" virtualUrl="^~/search/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Search.aspx" ignoreCase="true"/>
			<add name="Query" virtualUrl="^~/q" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Query.aspx" ignoreCase="true"/>
			<add name="Cart" virtualUrl="^~/cart" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Cart.aspx" ignoreCase="true"/>
			<add name="Order" virtualUrl="^~/order" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Cart.aspx" ignoreCase="true"/>
			<add name="Member" virtualUrl="^~/member" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Member.aspx" ignoreCase="true"/>
			<add name="TypeMember" virtualUrl="^~/t/member/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Member.aspx?t=$1" ignoreCase="true"/>
			<add name="Product" virtualUrl="^~/product" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Product.aspx" ignoreCase="true"/>
			<add name="ProductPage" virtualUrl="^~/page-(.*)/product" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Product.aspx?page=$1" ignoreCase="true"/>
			<add name="SalePage" virtualUrl="^~/page-(.*)/sale" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Sale.aspx?page=$1" ignoreCase="true"/>
			<add name="category" virtualUrl="^~/category/(.*)/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Product.aspx?parentId=$1&amp;name=$2" ignoreCase="true"/>
			<add name="categoryPage" virtualUrl="^~/page-(.*)/category/(.*)/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Product.aspx?page=$1&amp;parentId=$2&amp;name=$3" ignoreCase="true"/>
			<add name="subcategory" virtualUrl="^~/subcategory/(.*)/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Product.aspx?Id=$1&amp;name=$2" ignoreCase="true"/>
			<add name="subcategoryPage" virtualUrl="^~/page-(.*)/subcategory/(.*)/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Product.aspx?page=$1&amp;Id=$2&amp;name=$3" ignoreCase="true"/>
			<add name="price" virtualUrl="^~/price/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Product.aspx?from=$1&amp;to=$2" ignoreCase="true"/>
			<add name="pricePage" virtualUrl="^~/page-(.*)/price/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Product.aspx?page=$1&amp;from=$2&amp;to=$3" ignoreCase="true"/>
			<add name="brand" virtualUrl="^~/brand/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Product.aspx?brand=$1" ignoreCase="true"/>
			<add name="brandPage" virtualUrl="^~/page-(.*)/brand/(.*)/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Product.aspx?page=$1&amp;brand=$2" ignoreCase="true"/>
			<add name="ProductDetail" virtualUrl="^~/detail/(.*)/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ProductDetail.aspx?Id=$1" ignoreCase="true"/>
			<add name="ProductRef" virtualUrl="^~/ref-(.*)/detail/(.*)/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ProductDetail.aspx?ref=$1&amp;Id=$2" ignoreCase="true"/>
			<add name="News" virtualUrl="^~/news" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/News.aspx" ignoreCase="true"/>
			<add name="PageNews" virtualUrl="^~/page/news/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/News.aspx?page=$1" ignoreCase="true"/>
      <add name="Trend" virtualUrl="^~/trend" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Trend.aspx" ignoreCase="true"/>
      <add name="PageTrendNews" virtualUrl="^~/page/trend/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Trend.aspx?page=$1" ignoreCase="true"/>
      <add name="TrendDetail" virtualUrl="^~/xu-huong/(.*)/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/TrendDetail.aspx?Id=$1" ignoreCase="true"/>
      <add name="NewsDetail" virtualUrl="^~/article/(.*)/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetail.aspx?Id=$1" ignoreCase="true"/>
      <add name="Article" virtualUrl="^~/cfashion/(.*)/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Article.aspx?Id=$1" ignoreCase="true"/>
      <add name="Gallery" virtualUrl="^~/lookbook" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Gallery.aspx" ignoreCase="true"/>
      <add name="DetailGallery" virtualUrl="^~/lb-detail/(.*)/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/GalleryDetail.aspx?Id=$1" ignoreCase="true"/>
      <add name="NotFound" virtualUrl="^~/notfound" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NotFound.aspx" ignoreCase="true"/>
		</rewrites>
	</urlrewritingnet>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" responseHeaderEncoding="utf-8"/>
		<sessionState timeout="30" mode="InProc"></sessionState>
		<httpRuntime maxRequestLength="2000000" executionTimeout="999999"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
		</modules>
		<staticContent>
			
		</staticContent>
		<security>
			<requestFiltering allowDoubleEscaping="true"/>
		</security>
	</system.webServer>
</configuration>
