<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsFormsApplication3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="host_address" value="http://cms.hcco.vn/update"/>
    <add key="branchtype" value="1"/>
  </appSettings>
  <applicationSettings>
    <WindowsFormsApplication3.Properties.Settings>
      <setting name="CManagerv1_WSC_CMServices" serializeAs="String">
        <value>http://cms.hcco.vn/CMServices.asmx</value>
      </setting>
    </WindowsFormsApplication3.Properties.Settings>
  </applicationSettings>
</configuration>
