<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
	</configSections>
	<connectionStrings>
		<add name="HCCOConnectionString" connectionString="Data Source=D3VIL;Initial Catalog=holdings;Persist Security Info=True;User ID=it_hcc;Password=123" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="home" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
		<rewrites>
			<add name="Home" virtualUrl="^~/home" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx" ignoreCase="true" />
			<add name="Contac" virtualUrl="^~/contact" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Contact.aspx" ignoreCase="true" />
			<add name="News" virtualUrl="^~/tin-tuc/(.*)/(.*).hcc" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/News.aspx?id1=$1" ignoreCase="true" />
			<add name="NewsPage" virtualUrl="^~/tin-tuc/(.*)/page-(.*)/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/News.aspx?id1=$1&amp;page=$2" ignoreCase="true" />
			<add name="NewsDetail" virtualUrl="^~/bai-viet/(.*)/(.*).hcc" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/NewsDetail.aspx?id=$1" ignoreCase="true" />
			<add name="Acc" virtualUrl="^~/account" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Ad_Account.aspx" ignoreCase="true" />
			<add name="Cat" virtualUrl="^~/category" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Ad_Category.aspx" ignoreCase="true" />
			<add name="Member" virtualUrl="^~/member" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Ad_Member.aspx" ignoreCase="true" />
			<add name="Menu" virtualUrl="^~/menu" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Ad_Menu.aspx" ignoreCase="true" />
			<add name="AdNews" virtualUrl="^~/news" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Ad_News.aspx" ignoreCase="true" />
			<add name="Partner" virtualUrl="^~/partner" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Ad_Partner.aspx" ignoreCase="true" />
			<add name="Product" virtualUrl="^~/product" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Ad_Product.aspx" ignoreCase="true" />
			<add name="Slide" virtualUrl="^~/slide" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Ad_Slide.aspx" ignoreCase="true" />
			<add name="ChangePass" virtualUrl="^~/changepass" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Ad_ChangePass.aspx" ignoreCase="true" />
			<add name="Feedback" virtualUrl="^~/feedback" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Ad_Feedback.aspx" ignoreCase="true" />
			<add name="Search" virtualUrl="^~/keyword/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Keyword.aspx?key=$1" ignoreCase="true" />
			<add name="Login" virtualUrl="^~/login" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Login.aspx" ignoreCase="true" />
			<add name="Logout" virtualUrl="^~/logout" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Logout.aspx" ignoreCase="true" />
			<add name="AdHome" virtualUrl="^~/adhome" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Ad_Home.aspx" ignoreCase="true" />
      <add name="AdRole" virtualUrl="^~/role" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Ad_Role.aspx" ignoreCase="true" />
		</rewrites>
	</urlrewritingnet>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies></compilation>
		<httpRuntime maxRequestLength="2000000" executionTimeout="999999" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
		</modules>
		<staticContent>

		</staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
	</system.webServer>
</configuration>
